body, h1, h2, p, a, div {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  /* Blurred background */
  #blurred-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
  }
  
  /* Main container for movie details */
  #details-container {
    margin: 30px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.14); 
    border-radius: 10px;
    font-size: 24px; 
    font-weight: bolder;
    max-height: 90vh;
    overflow-y: auto;
  }
  
  /* Container for the trailer */
  #trailer-container {
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Movie poster */
  #movie-poster {
    float: left;
    margin-right: 20px;
    max-width: 400px;
    height: auto;
    padding-bottom: 20px;;
  }
  
  /* Movie information */
  #movie-info {
    padding: 20px;
  }
  
  #movie-title {
    font-size: 2.5em; 
    margin-bottom: 10px;
  }
  
  #movie-release-date,
  #movie-genre,
  #movie-cast,
  #movie-rating,
  #movie-overview {
    margin-bottom: 15px;
  }
  
  /* Clear floats */
  .clear {
    clear: both;
  }
  
  #recommendations-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    margin-top: 30px;
  }
  
  .movie-card {
    position: relative; 
    width: 200px;
    height: 300px; 
    overflow: hidden; 
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .movie-card img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
    z-index: 1; 
  }
  
  .movie-card h3 {
    position: absolute; 
    top: 10px;
    left: 10px;
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 5px;
    z-index: 2;
  }
  